# Ignore videos folder
videos/

# Ignore audios folder
audios/

#Ignore json folder
jsons/

#Ignore prompt.txt
prompt.txt

#Ignore response.txt
response.txt

#Ignore embeddings.joblib
embeddings.joblib

#Ignore newjsons folder
newjsons/